= form_for(@statement) do |f|
	- if @statement.errors.any?
		= pluralize(@statement.errors.count, "error")
		%ul
			- @statement.errors.full_messages.each do |msg|
				%li= msg
	= f.label :crs
	%br
	= f.text_field :crs, class: 'form-control'
	= f.label :sot
	%br
	= f.text_field :sot, class: 'form-control'
	%br
	= f.submit 'Create MS', class: 'btn btn-primary'