%h4= @statement.helicopter.registration
%h3= @statement.crs
%h5 Tasks
%ul
	- @statement.tasks.each do |task|
		%li
			= task.title
			= task.term

= link_to 'Create PDF', statement_path(@statement, :format => :pdf)

/= render 'printout'
%br